:root {
  --color-dark-navi: #0a192f;
  --color-navi: #112240;
  --color-light-navi: #233554;
  --color-dark-slate: #8892b0;
  --color-slate: #a8b2d1;
  --color-light-slate: #ccd6f6;
  --color-white: #e6f1ff;
  --color-nion-green: #64ffda;
}

.App {
  text-align: center;
  position: relative;
}

.hexagon-svg {
  height: 200px;
}

.hexagon-svg polygon {
  fill: none;
  stroke: var(--color-nion-green);
  stroke-width: 3px;
  stroke-dasharray: 295;
  stroke-dashoffset: 295;
  animation: drawHexagon 1.5s ease-in-out forwards;
}

@keyframes drawHexagon {
  0% {
    stroke-dashoffset: 295;
  }
  100% {
    stroke-dashoffset: 0; 
  }
}

.section-isloading {
  background-color: var(--color-navi);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeout .5s 5.5s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.text-animation {
  color: var(--color-nion-green);
  font-size: 32px;
  animation: fade-in 0.8s 1.5s backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}